.city_container {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    width: 45rem;
    overflow-x: scroll;
}

@media only screen and (max-width: 540px) {
    .city_container {
        width: 20rem;
    }
}

.city_container-data {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    
    cursor: pointer;
}

.selected { 
    border: 2px solid #add8e6;
    background: #fed8b1;
}

.city_container-day {
    display: flex;
    justify-content: center;
    height: 25px;
}

.city_container-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.city_container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}