.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartWrapper {
  position: relative;
  overflow-x: scroll;
}

.chartWrapper2{
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
  
}

.chartWrapper2 > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
  
}

.chartAreaWrapper {
  width: 700px !important;
}

@media only screen and (max-width: 500px) {
  .MuiPaper-elevation3{
    width: 21rem !important;
  }

  .test {
    max-width: 336px;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 540px) {
  .MuiPaper-elevation3{
    width: 21rem !important;
  }

  .test {
    max-width: 336px;
  }

  html {
    overflow-x: hidden;
  }
}